{# item \Netgen\Bundle\LayoutsRoutingBundle\Entity\Content #}
{# translation \Netgen\Bundle\LayoutsRoutingBundle\Entity\ContentTranslation #}
{# route \Symfony\Cmf\Bundle\RoutingAutoOrmBundle\Doctrine\Orm\AutoRoute #}

{% extends 'NetgenAdminUIBundle::pagelayout.html.twig' %}

{% trans_default_domain 'routing_admin' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="main-content">
        <div id="path">
            <div id="path-design">
                <p class="path">
                    <span class="path-here-text">{{ 'netgen_admin_ui.layout.path.you_are_here'|trans({}, 'messages') }}</span>
                    <span class="path">{{ 'title'|trans }} / {{ 'route.list.title'|trans }}</span>
                </p>
            </div>
        </div>

        <div class="box-header">
            <h1 class="context-title">{{ 'route.list.title'|trans }}</h1>
        </div>

        <div class="panel">
            {{ block( 'list' ) }}
        </div>
    </div>
{% endblock %}

{% block list %}
    {% if routes is not empty %}
        <table class="list">
            <tbody>
            <tr>
                <th>{{ 'route.list.columns.id'|trans }}</th>
                <th>{{ 'route.list.columns.content'|trans }}</th>
                <th>{{ 'route.list.columns.name'|trans }}</th>
                <th>{{ 'route.list.columns.locale'|trans }}</th>
                <th>{{ 'route.list.columns.path'|trans }}</th>
            </tr>
            {% for route in routes %}
                <tr>
                    <td>{{ route.id }}</td>
                    <td><a href="{{ path('nglayouts_routing_admin_content_view', {id: route.contentId['id']}) }}">{{ route.contentId['id'] }}</a></td>
                    <td>NAME TODO {{ dump(route.content) }}</td>
                    <td>{{ route.requirement('_locale') }}</td>
                    <td><a href="{{ path(route) }}">{{ path(route) }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if routes.haveToPaginate %}
            {{ pagerfanta(routes, 'twitter_bootstrap3', {'prev_message': "common.pagination.previous"|trans, 'next_message': "common.pagination.next"|trans}) }}
        {% endif %}
    {% else %}
        <p>{{ 'common.list.no_results'|trans }}</p>
    {% endif %}
{% endblock %}
